%header.navigation{:role => "banner"}
  %nav{:role => "navigation"}
    = link_to "/index.html" do
      .navigation-logo
    %ul.navigation-menu
      %li.nav-link
        = link_to "The Workshop", "/index.html"
      %li.nav-link
        = link_to "Program Details", "/program-details.html"
      %li.nav-link
        = link_to "About LARB", "/about.html"
      %li.nav-link
        = link_to "Apply", "/apply.html", {:class=>"button"}
    .nav-menu-icon
      %a{:href => "javascript:void(0);"} ☰
